phidata
python-dotenv==1.0.0
groq==0.15.0
fastapi
uvicorn
python-multipart
jinja2
aiofiles
websockets
duckduckgo-search==4.1.1
pycountry
python-docx
langchain
langchain-core
langchain-groq==0.1.4
typing-extensions
wikipedia
streamlit==1.31.0
langgraph==0.0.10
pyyaml==6.0.1
deepeval==0.12.4